<%- include('partials/header') -%>
<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quam
  dicta quae quas, quidem nostrum dolorum maiores accusantium! Eum sint laborum
  totam facere deleniti quos earum harum explicabo alias quia! Reprehenderit
  commodi animi molestiae magni assumenda minus, vero officiis sunt nemo
  consequatur dignissimos ipsam impedit distinctio natus consectetur quis
  debitis accusamus consequuntur culpa libero quia dolores voluptatem! Officia,
  pariatur illum! Unde blanditiis saepe amet et. Beatae facere quidem illum
  accusantium tempora dolor repudiandae fugit vel molestias cupiditate unde,
</p>
<%- include('partials/footer') -%>
